@import "src/styles/index.scss";

.questions > li {
  border: 2px solid white;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  font-weight: 500;
  padding: 10px;
  text-align: center;
  height: auto;
}
.title {
  display: flex;
  opacity: 1;
  height: auto;
  transform: none;
  transform-origin: 50% 50% 0px;
}
